@mixin timelineElement($breakpoint: 745px){
    .timeline-element {
        margin-bottom: 60px;
        width: 45%;
    
        p:last-child {
            font-size: var(--small-fsize);
            opacity: 0.7;
        }
    }
    
    @media screen and (max-width: $breakpoint) {
        .timeline-element {
            position: relative;
            width: fit-content;
            max-width: 95%;
            margin-left: 0 !important;
            border: none !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
            text-align: center;
        }
    }    
}
