#home-content{
    width: 90%;

    .text-appear{
        font-size: var(--x-large-fsize);
        margin-bottom: 30px;
    }

    .poster-image{
        margin-top: 20px;
        margin-bottom: 60px;
        width: 230px;
    }
}
